nav {
	height: auto;
}

.main-navigation {
	clear: both;
	width: 100%;
	@include breakpoint-min($bp-medium) {
		background-color: white;
		display: flex;
		float: left;
	}

	.menu {
		@include breakpoint-max($bp-small) {
			display: none;
		}
		box-shadow: none;
		border-radius: 0;
		li {
			a {
				border: none;
			}
		}
	}

	ul {
		background-color: $color__background-nav-dropdown;
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			@include breakpoint-min($bp-medium) {
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				float: left;
				position: absolute;
				top: 100%;
				left: -999em;
				z-index: 99999;

				ul {
					left: -999em;
					top: 0;
				}

				li {
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}
			}

			a {
				@include breakpoint-min($bp-medium) {
					width: 200px;
				}
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		@include breakpoint-min($bp-medium) {
			float: left;
			position: relative;
		}

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	margin-bottom: 0;
}

.menu-toggle,
.main-navigation.toggled ul {
	width: 100%;
	display: block;
}

.main-navigation.toggled {
	.menu {
		display: block;
	}
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
